.top-nav {
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.309); */
  border-bottom: 1px solid rgba(102, 102, 102, 0.303);
}
.part {
  margin-left: 200px;
}
.part li  a{
  color: #f9d342;
  font-weight: bolder;
}

.side-nav {
  background-color: #292826;
  color: rgba(255, 255, 255, 0.445);
  width: 200px;
  z-index: 5;
}
.side-nav a,
.side-nav div {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.side-nav a i,
.side-nav div i {
  font-size: 1.7rem;
  padding: 0.2em 0.5rem;
  color: #f9d342;
}

.side-nav a:hover,
.side-nav div:hover {
  background-color: #000;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.table-drop {
  color: #fff;
  background-color: #666666;
  left: 0;
}
/*******************LOGO AND USER EDIT**********************/
.logo {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.logo img {
  width: 40px;
  max-height: 4 0px;
}
.user {
  margin: 0.5em 0;
  cursor: pointer;
}
.user img {
  border-radius: 50%;
  box-shadow: 0 0 5px #fff;
  width: 40px;
  max-height: 50px;
}
.user h4 {
  font-weight: 400;
  font-size: 1.2em;
  padding-left: 7px;
}

.line {
  border: 1px solid #666;
  margin: 0 0;
}

/******======CONTENT======*****/
.content {
  background-color: #f4f6f9;
  padding-bottom:1.5em;
}

.topic h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.small-box{
  padding: 5%;
  border-radius: 7px;
}

/****************************
============GENERAL PAGE EDIT========
*****************************/
.card-header{

}

.card-footer i{
  color: #DC3545;
  font-size: 1.2em;
}
.card-footer {
  font-weight: bold;
  color: #f9d342;
  background-color: #292826;
}




/****************************
============PDF PAGE========
*****************************/
.p-info i {
  font-size: x-large;
}
.foot {
  font-size: 0.9em;
}

/********************/
footer {
  width: 100%;
  text-align: center;
  position: fixe;
  bottom: 0;
  background-color: #292826;
  color: #fff;
  padding: 0.5em;
}
.top{
  margin: 0;
  padding: 0;
}
footer a{
  font-size: 1.7em;
  margin: .2em;
  color: #f9d342;
}
footer a:hover{
  text-decoration: none;
  color: #f4f6f9;

}