
.box-shadow{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.561);
}

.top-nav {
  /* border-bottom: 1px solid rgba(148, 148, 148, 0.808); */
  /* z-index: 6; */
}
.part{
  margin-left:200px
}


.side-nav {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.445);
  width: 200px;
  z-index: 5;
  box-shadow: 0 0 10px rgb(47, 47, 47);
}
.side-nav a,
.side-nav div {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.side-nav a i,
.side-nav div i {
  font-size: 1.7rem;
  padding:.2em .5rem ;
  color: rgba(255, 255, 255, 0.739);
}

.side-nav a:hover,
.side-nav div:hover {
  background-color: #666;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.table-drop {
  color: #fff;
  background-color: #666666;
  left: 0;
}

.logo {
  padding: 0;
  margin: 8px 0;
}
.user {
  padding: 0;
  cursor: pointer;
}
.user img {
  border-radius: 50%;
  box-shadow: 0 0 5px #fff;
  width: 35px;
  max-height: 40px;
}
.user h4 {
  font-weight: 400;
  font-size: 1.2em;
  padding-left: 7px;
}
.line {
  border: 1px solid #666;
  margin: 10px 0;
}

/********************/
.topic h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/********************/
footer{
  width: 100%;
  text-align: center;
  position:;
  bottom: 0;
  background-color: rgba(8, 8, 8, 0.733);
  color: #fff;
  padding: .5em;
}

/****************************
============PDF PAGE========
*****************************/

.p-info i{
  font-size: x-large;
}


/*
============RESPONSIVENESS========
*/

@media screen and (max-width: 992px){
 .part{
   margin-left:0;
 }
}